body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    display: flex;
    width: 300px;
    height: 150px;
    margin: 25px;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 63px;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    border: 1px solid black;
    width: 1200px;
    height: 1200px;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    flex: 1 1 0;
}

.gridTile {
    flex: 1 1 0;
    border: 1px solid black;
}

.gridTile:hover {
    background-color: black;
}

