body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: red; */
    /* width:1000px;
    height:1000px; */
    /* max-width: 100%;
    max-height: 100%; */
}

.row {
    display: flex;
    flex-direction: row;
}

.gridTile {
    width: 100px;
    height: 100px;
    border: 4px solid black;
}